.page {
  font-family: Roboto, Arial, sans-serif;
  height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-rows: $header-height auto;
  grid-template-columns: 100%;
  grid-auto-flow: row;
}
